/* Reset default styles */
body,
h1,
h2,
h3,
p,
ul,
li,
form,
input,
select {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  line-height: 1.6;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  font-size: 36px;
}

/* Filter section styles */
.filter {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#genreFilter {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

/* Book section styles */
.book {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

.img-div {
  text-align: center;
}

.book img {
  max-width: 100%;
  height: 400px;
  border-radius: 5px;
}

.info-div {
  height: 156px;
}

.book h3 {
  font-size: 20px;
  margin-top: 10px;
}

.book p {
  margin-top: 5px;
}

button.btn {
  background-color: #f05a28;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  width: 100%;
  transition: background-color 0.3s ease;
}

button.btn:hover {
  background-color: #d0451b;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
